{% extends 'base.html' %}
{% load static %}  <!-- Load the static template tag -->

{% block title %}
    Marketplace - Shopping Cart
{% endblock %}

{% block content %}
<div class="container">
    
    <h3 class="site_title_1 title_2" 
    id="thank-text">
 <span></span>
 <b>Processing Payment
</b></h3>
    <p><strong>Amount:</strong> {{ total_amount }}</p>
   

    {% if payment_status == 'success' %}
        <p>Payment successful! Your order is confirmed.</p>
       
    {% else %}
        <p>Your payment is being processed.</p>
    {% endif %}
</div>

{% endblock content %}